/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

    @font-face {
        font-family: Batuphat;
        src: url(../assets/Batuphat-Script.otf);
    }
    .font-poppins{
        font-family: Poppins, sans-serif;
    }

    .font-batuphat{
        font-family: Batuphat;
    }

    .image-custom {
        margin-inline: auto;
    }

    .image-custom > img {
        width: 100%;
        aspect-ratio: 1 / 1;
        object-fit: cover;
        transition: scale 350ms ease, opacity 350ms linear;
        cursor: pointer;
    }

    .image-custom:has(img:hover) img:not(:hover) {
        scale: 0.8;
        opacity: 0.7;
    }

    /* .reflect-img{
        
        -webkit-box-reflect: left -20px linear-gradient(to bottom, rgba(0,0,0,0),rgba(0,0,0,0.4));
    } */

    .hover-card{
        padding-left:5px;
        padding-right:5px;
    }
    
    .card-block{
        transition:0.5s;
        cursor:pointer;
    }
    
    .card-title{
        transition:1s;
        cursor:pointer;
        -webkit-transition:1s;
        -moz-transition:1s;
        -ms-transition:1s;
        -o-transition:1s;
    }
    
    .card-block:hover{
        transform: scale(1.05);
        box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
    }
    
    .card-block::before, .card-block::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transform: scale3d(0, 0, 1);
        transition: transform .3s ease-out 0s;
        background: rgba(255, 255, 255, 0.1);
        content: '';
        pointer-events: none;
    }
    
    .card-block::before {
        transform-origin: left top;
    }
    
    .card-block::after {
        transform-origin: right bottom;
    }
    
    .card-block:hover::before, .card-block:hover::after, .card-block:focus::before, .card-block:focus::after {
        transform: scale3d(1, 1, 1);
    }

    /* QR-Code */
    .qr-code-container .qr-code img{
        width: 200px;
        height: 200px;
        object-fit: contain;
    }
    .qr-code-container .qr-code button{
        width: 7em;
        height: 2em;
        margin: 0.5em;
        background: rgb(103, 232, 249);
        color: black;
        border: none;
        border-radius: 0.625em;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
        position: relative;
        z-index: 1;
        overflow: hidden;
    }

    .qr-code-container .qr-code button:hover{
        color: black;
    }

    .qr-code-container .qr-code button:after{
        content: "";
        background: white;
        position: absolute;
        z-index: -1;
        left: -20%;
        right: -20%;
        top: 0;
        bottom: 0;
        transform: skewX(-45deg) scale(0, 1);
        transition: all 0.5s;
    }

    .qr-code-container .qr-code button:hover:after {
        transform: skewX(-45deg) scale(1, 1);
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
    }